/*General*/
#pages > * {
  display: none;
}

#pages > .active {
  display: block;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #ecf0f1;
  font-family: "Montserrat", sans-serif;
  color: #2c3e50;
}

h1 {
  font-family: "Open Sans", sans-serif;
}

img:hover {
  transform: scale(1.1);
  transition: ease-in .2s;
}

.under-nav {
  background-color: #ecf0f1;
}

.layout {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 50px 0;
  background-color: #ecf0f1;
}

.row {
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 15px;
}

/*Navigation*/
.navbar {
  background-color: #f39c12;
  padding: 0;
}

.nav-item:hover {
  background-color: #27ae60;
  transition: ease-in .5;
}

.nav-item:hover a {
  font-weight: 600;
}

/*Logo*/
.logo h1 {
  font-family: "Exo", sans-serif;
}

.icon p {
  font-size: 25px;
  color: #f39c12;
  font-weight: 600;
}

.fas, .fab {
  font-size: 50px;
  color: #2ecc71;
  padding-right: 10px;
}

.contact {
  padding: 0 20px;
}

.contact h5 {
  font-size: 20px;
}

/*Background slider*/
/*Header*/
.card-header {
  background-color: rgba(0, 0, 0, 0.603) !important;
  border-radius: 0;
}

.card-header img {
  opacity: 0.5;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: contrast(2);
}

.card-header-text h1, .card-header-text p, .card-header-text h4 {
  color: #ecf0f1;
  text-shadow: 5px 5px 10px black;
}

.card-header-bottom img {
  max-height: 30vh;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Cards*/
.back {
  background-color: #2980b9;
}

.card {
  background-color: #ecf0f1;
  padding: 5;
  border: none;
}

.btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 40%);
}

.text-card-under-content {
  background-color: rgba(243, 156, 18, 0.6);
  transform: translateY(224px);
  border-radius: 0 0 20px 20px;
  padding: 6px 0px;
  transition: ease-out .2s;
}

.title-cards3 {
  -ms-flex-pack: center;
      justify-content: center;
}

.row-cards3 {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.title-cards3 {
  color: #2c3e50;
  text-shadow: 5px 5px 20px black;
  text-transform: uppercase;
  font-weight: 600;
}

.card-in-cards {
  border-radius: 20px;
  height: 300px;
  max-width: 100vh;
  margin-bottom: 10px;
  padding: 0;
  transition: ease-out .2s;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.5);
}

.card-in-cards:hover .text-card-under-content {
  background-color: #f39d12;
  transition: ease-in .1s;
}

.card-first {
  background-image: url("https://cdn.pixabay.com/photo/2017/02/21/09/02/clouds-2085112_960_720.jpg");
  background-color: rgba(0, 0, 0, 0.192);
}

.card-first:hover {
  background-color: rgba(0, 0, 0, 0.459);
  background-blend-mode: color;
  transition: ease-in-out .1s;
}

.card-second {
  background-image: url("https://cdn.pixabay.com/photo/2015/10/12/15/27/light-bulb-984551_960_720.jpg");
  background-color: rgba(0, 0, 0, 0.555);
  background-position: center;
}

.card-second:hover {
  background-color: rgba(0, 0, 0, 0.459);
  background-blend-mode: color;
}

.card-third {
  background-color: rgba(0, 0, 0, 0.301);
  background-image: url("https://cdn.pixabay.com/photo/2016/04/25/23/30/home-1353389_960_720.jpg");
  background-position: right;
}

.card-third:hover {
  background-color: rgba(0, 0, 0, 0.459);
  background-blend-mode: color;
}

.text-on-image {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
}

/*Calculator container*/
.calc {
  height: 30vh;
  min-width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

/*logo-slider*/
.logo-slider {
  position: relative;
  min-height: 30vh;
}

.slide {
  width: 100%;
  height: 100%;
  animation: slideshow 10s linear infinite;
}

.overflow {
  overflow: hidden;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-slider::before, .logo-slider::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #ecf0f1, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
  height: 100%;
  width: 200px;
}

.logo-slider::before {
  left: 0;
  top: 0;
}

.logo-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*Contact*/
.contact-row {
  background-color: rgba(211, 85, 1, 0.6);
}

.contact-row img {
  opacity: 0.5;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-container, .form-card {
  background-color: white;
}

iframe {
  width: 100%;
}

/*Folie*/
.folie {
  -ms-flex-pack: center;
      justify-content: center;
}

.folie-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.folie-title i {
  font-size: 30px;
  color: #b71540;
  padding: 0 5px;
}

.folie-text {
  text-align: justify;
}

.folie-text span {
  font-weight: bold;
}

.folie-cards {
  display: -ms-flexbox;
  display: flex;
}

.folie-cards i {
  font-size: 50px;
  color: #b71540;
}

.folie-cards p {
  margin-bottom: 5px;
}

.folie-body-icon {
  text-align: center;
}

/*Responsive*/
@media (max-width: 700px) {
  .card-first {
    background-color: rgba(38, 110, 182, 0.822);
  }
}

@media (min-width: 800px) {
  .card-in-cards {
    max-width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */