/*General*/

$body-color-orange: rgb(243, 156, 18);
$body-color-light: rgb(255, 255, 255);
$body-color-blue: rgb(41, 128, 185);
$body-color-green: rgb(39, 174, 96);
$body-color-dark: rgba(44, 62, 80,1.0);
$navi-color: rgba(243, 156, 18,1.0);
$header-color: rgb(60, 184, 255);
$font-color-light: rgb(255, 255, 255);
$font-color-dark: rgb(6, 58, 126);
$icon-color-red: rgba(183, 21, 64,1.0);
$icon-color: rgb(46, 204, 113);

$font-logo: 'Exo', sans-serif;
$font-body: 'Montserrat', sans-serif;
$font-h: 'Open Sans', sans-serif;
 
/*Global*/

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background: $body-color-light;
    font-family: $font-body;
    color: $body-color-dark;
}
h1 {
    font-family: $font-h;
}
// img:hover {
//     transform: scale(1.1);
//     transition: ease-in .2s;
// }
.row {
    align-items: center;
}
.container {
    background-color: white;
}

/*Navigation*/
.nav-logo, .navbar-brand {
    img {
        width: 50%;
    }
}
.navbar-collapse {
    justify-content: center;
}
.navbar-nav li {
    padding: 0 20px;
}
.navbar-nav li:hover, .dropdown-item:hover {
    border: 1px solid;
    border-color: $body-color-green;
    border-radius: 20px;
}
.navbar-light {
    background-color: white;
}
.dropdown-item.active {
    background-color: white;
}

/*Header*/

.deck {
    justify-content: center;
}
.card-header {
    background-color: rgba(0, 0, 0, 0.603) !important;
    border-radius: 0;
    margin: 10px 0;
    transition: ease-in-out .3s;
    overflow: hidden;

    img {
        opacity: 0.5;
        height: 100%;
        object-fit: cover;
        filter: contrast(2);
        transition: ease-in-out .3s;
    }
}
.card-header:hover img {
    transform: scale(1.3);
    filter: contrast(1);
     opacity: 1;
}
.card-img-overlay {
    display: flex;
    align-items: center;
}
.card-header-text h1 {
    color: $body-color-light;
    text-shadow: 5px 5px 10px black;
    background-color: rgba(44, 62, 80, 0.589);;
    width: 100%;
    display: block;
    padding: 8px 8px;
    word-wrap: anywhere;
    font-size: 2rem;
}
.card-header-bottom img {
    max-height: 30vh;
    min-width: 100%;
    object-fit: cover;
}

/*Cards*/

.back {
    background-color: $body-color-blue;
}
.card {
    background-color: $body-color-light;
    padding: 5;
    border: none;
}
.btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 40%);
}

.text-card-under-content {
    background-color: rgba(243, 156, 18, 0.6);
    transform: translateY(224px);
    border-radius: 0 0 20px 20px;
    padding: 6px 0px;
    transition: ease-out .2s;
}
.title-cards3 {
    justify-content: center;
}
.row-cards3 {
    justify-content: space-between;
}
.title-cards3 {
    color: $body-color-dark;
    text-shadow: 5px 5px 20px black;
    text-transform: uppercase;
    font-weight: 600;
}
.card-in-cards {
    border-radius: 20px;
    height: 300px;
    max-width: 100vh;
    margin-bottom: 10px;
    padding: 0;
    transition: ease-out .2s;
    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.5);
}
.card-in-cards:hover {
    .text-card-under-content {
    background-color: rgb(243, 157, 18);
    transition: ease-in .1s;
    }
}
.card-first {
    background-image: url('https://cdn.pixabay.com/photo/2017/02/21/09/02/clouds-2085112_960_720.jpg');
    background-color: rgba(0, 0, 0, 0.192);
    //background-blend-mode: color;
}
.card-first:hover {
    background-color: rgba(0, 0, 0, 0.459);
    background-blend-mode: color;
    transition: ease-in-out .1s;
}
.card-second {
    background-image: url('https://cdn.pixabay.com/photo/2015/10/12/15/27/light-bulb-984551_960_720.jpg');
    background-color: rgba(0, 0, 0, 0.555);
    background-position: center;
    //background-blend-mode: color;
}
.card-second:hover {
    background-color: rgba(0, 0, 0, 0.459);
    background-blend-mode: color;
}
.card-third {
    background-color: rgba(0, 0, 0, 0.301);
    background-image: url('https://cdn.pixabay.com/photo/2016/04/25/23/30/home-1353389_960_720.jpg');
    background-position: right;
    //background-blend-mode: color;
}
.card-third:hover {
    background-color: rgba(0, 0, 0, 0.459);
    background-blend-mode: color;
}
.text-on-image {
    position: relative;
    overflow: hidden;
}
.text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $font-color-light;
    font-size: 2rem;
}

/*Footer*/
footer {
    background-color:rgba(241, 242, 246,1.0);
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.footer-calc {
    padding: 20px 0;
    justify-content: space-around;
}
.footer-contact-card {
    padding-right: 30px;
    background-color:rgba(241, 242, 246,1.0);
    flex-direction: row;
    display: flex;
}
.footer-contact-logo {
    text-align: center;
    img {
        padding-bottom: 10px;
    }
}
.footer-contact-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    i {
        padding: 8px 15px;
        font-size: 25px;
        color: $body-color-green
    }
} 
.footer-contact-contact {
    padding: 8px 10px;
    div:first-child {
        text-transform: uppercase;
    }
}
.card-calc {
    margin: 30px 0;
}
.card-calc, .calc-text {
    border-radius: 30px;
}
.calc {
    height: 15vh;
    min-width: 50vw;
    object-fit: cover;
    border-radius: inherit;
}
.calc-text {
    display: block;
    color:#ecf0f1;
    text-shadow: 5px 5px 10px black;
    background-color: rgba(44, 62, 80, 0.589);
}

.copyright {
    background-color:$body-color-dark;
    color: white;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

/*logo-slider*/

.logo-slider {
    position: relative;
    min-height: 18vh;
}
.slide {
    width: 100vh;
    //height: 100%;
    animation: slideshow 10s linear infinite;
    img {
        margin-left: 30px;
        filter: grayscale(1);
    }
}
.overflow {
    overflow: hidden;
    flex-wrap: nowrap;
}

@keyframes slideshow {
    0% {transform: translateX(0);
    }
    100% {transform: translateX(-100%);
    }
}
.logo-slider::before, .logo-slider::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, white, rgba(255,255,255,0) 100%);
    z-index: 2;
    height: 100%;
    width: 200px;
}
.logo-slider::before {
    left: 0;
    top: 0;
}
.logo-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
/*Folie grzewcze*/

.folie {
    justify-content: center;
}
.folie-title {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        font-size: 30px;
        color: $icon-color-red;
        padding: 0 5px;
    }
}
.folie-text {
    text-align: justify;
        span {
        font-weight: bold;
        }
}
.folie-cards {
    display: flex;
}
.folie-cards i {
    font-size: 50px;
    color: $icon-color-red;
}
.folie-cards p {
    margin-bottom: 5px;
}
.folie-body-icon {
    text-align: center;
}
/*Contact*/

.contact-row {
    background-color: rgba(211, 85, 1, 0.60);

    img {
        opacity: 0.5;
        height: 100%;
        object-fit: cover;
    }
}
.form-container, .form-card {
    background-color: white;
}
.form-card {
    align-items: center;
    margin-bottom: 50px;
    h1 {
        padding-bottom: 20px;
    }
}
 
iframe {
    width: 100%;
    height:450px;

}

.field {
  margin: 1em 0;
}

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #999999;
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: $body-color-green;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/*Moderation*/

.moderation-image {
    padding-bottom: 50px;
    img {
        height: 20vh;
        width: 100%;
        object-fit: cover;
    }
}
/*Responsive*/

@media (max-width: 800px) {
  .card-header-text h1 {
      font-size: 25px;
  }
  
  
  .navbar-brand-logo {
      display: none;
  }
}
@media (max-width: 1100px) {
    footer {
      position: relative;
  }
  .row-footer {
      justify-content: center;
  }
  .calc {
      width: 90vw;
  }
}