/*General*/

$body-color-dark: rgba(52, 73, 94,1.0);
$body-color-light: rgb(255, 255, 255);
$navi-color: rgb(41, 128, 185);
$header-color: rgb(60, 184, 255);
$icon-color: rgba(46, 204, 113,1.0);
$font-color-light: rgb(255, 255, 255);
$font-color-dark: rgb(6, 58, 126);
$font-logo: 'Exo', sans-serif;
$font-body: 'Montserrat', sans-serif;
$font-h: 'Open Sans', sans-serif;
 
// /*Global*/

// *, *::before, *::after {
//   box-sizing: border-box;
// }


// body {
//     background: rgb(173, 173, 173);
// }
// .container {
//   max-width: 700px;
//   margin: 0 auto;
//   padding: 0 20px;
// }

// /*Navigation*/

// .navbar {
//   background: $body-color-dark;
//   padding: 5px 20px;
// }
// ul {
//     list-style-type: none;
//     a {
//         text-decoration: none;
//         color: $font-color-light;
//         text-transform: uppercase;
//     }
//     a:hover {
//         text-decoration: underline;
//     }
// }
// .menu li {
//     font-size: 16px;
//     padding: 15px 5px;
//     a {
//         display: block;
//     }
// }
// .logo a {
//     font-size: 20px;
// }

// /*Mobile*/

// .menu {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;
// }

// .toggle {
//     cursor: pointer;
//     order: 1;
// }

// .bars {
//     background: $body-color-light;
//     display: inline-block;
//     height: 2px;
//     position: relative;
//     width: 18px;
// }
// .bars::before, .bars::after {
//     background: $body-color-light;
//     content: '';
//     display: inline-block;
//     height: 2px;
//     position: absolute;
//     width: 18px;
// }
// .bars::before {
//     top: 5px;
// }
// .bars::after {
//     top: -5px;
// }

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background: $body-color-dark;
    font-family: $font-body;
    color: $font-color-light;
}
.container {
    display: flex;
    padding: 50px 0;
       align-items: center;
    justify-content: center;
}
.row {
    align-items: center;
    justify-content: center;
}

/*Navigation*/
.navbar {
    background-color: $navi-color;
}
/*Logo*/
.logo h1 {
    font-family: $font-logo;
}
.icon p {
    font-size: 25px;
    color: $navi-color;
    font-weight: 600;
}
.fas, .fab {
    font-size: 50px;
    color: $icon-color;
    padding-right: 10px;;
}
.contact {
    align-items: space-between;
    padding: 0 20px;
}
.contact h5 {
    font-size: 20px;
}

/*Carousel*/

.carousel-inner img {
    object-fit: cover;
}