*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #f39c12;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.container {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
}
.layout {
  align-items: center;
}
.row {
  align-items: center;
  justify-content: center;
}
.navbar {
  background-color: #2c3e50;
}
.logo h1 {
  font-family: "Exo", sans-serif;
}
.icon p {
  font-size: 25px;
  color: #2c3e50;
  font-weight: 600;
}
.fas,
.fab {
  font-size: 50px;
  color: #2ecc71;
  padding-right: 10px;
}
.contact {
  align-items: space-between;
  padding: 0 20px;
}
.contact h5 {
  font-size: 20px;
}
.cards {
  background-color: #fff;
}
.card {
  background-color: #2c3e50;
}
.first {
  z-index: 1000;
}
